body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6a0dad;
    color: white;
    padding: 10px 0;
    text-align: center;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.ListadeProdutos {
    display: flexbox;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Produto{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0.2);
    
}

.Produto h3 {
    margin: 0;
    color: #6a0dad;
}

.Produto p {
    color: #333;
}

.Produto button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.Produto button:hover {
    background-color: #5a0a9a; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
